* {
	display: none;
}

html, body {
	display:inherit!important;

	font-family: sans-serif;
	margin: 0;
	padding: 0;
  background-color: rgb(225,225,225);
}

p {
	display:inherit!important;
}

.main  {
	display:inherit!important;


  position: fixed;
  right: 0;
  left: 0;
  margin: 20px auto;
  z-index: 1;
  box-shadow: 2px 2px 50px 5px;
	background-color: rgba(255,255,255,.9);
	height: 200px;
  width: 55%;
  border-radius: 10px;
  text-align: center;
}

#scrolltext {
  font-size: 80px;
  margin-top: 50px;
}

.leftline {
	display:inherit!important;

  height: 150px;
  width: 4px;
  background-color: black;
  margin-top: 25px;
  margin-left: 35px;
  z-index: 2;
  position: fixed;
  border-radius: 10px;

}

.rightline {
	display:inherit!important;

  height: 150px;
  width: 4px;
  background-color: black;
  margin-top: 25px;
  margin-left:665px;
  z-index: 2;
  position: fixed;
  border-radius: 10px;


}

.supporting {
	display:inherit!important;
  position: relative;
  box-shadow: 2px 2px 50px 5px;
  background-color: white;

  width: 55%;
  border-radius: 10px;
  margin: 0 auto;
  word-wrap: break-word;
  font-size: 15px;
  overflow-y: auto;
  text-align: justify;
  top: 240px;


}

.supporting .text {
	display:inherit!important;
  padding: 40px 40px 100px 40px;
	height: auto;
}
